<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cyber Blog Site</title>
  </head>
  <body>
    <p>Welcome to cyber security blog site</p>
    {% if user.is_authenticated %}
    <p>You're logged in as {{ user.get_username }}</p>
    <p><a href="{% url "accounts:logout" %}">Log out</a></p>
    <p><a href="{% url "blog:post" %}">Create new post</a></p>
    {% else %}
    <p><a href="{% url "accounts:login" %}">Log in</a></p>
    {% endif %}
    <p><a href="{% url "blog:index" %}">View all posts</a></p>
  </body>
</html>
